In [2]:
from sklearn.model_selection import train_test_split
import pandas as pd

In [8]:
profiles_df = pd.read_csv("data/Profiles.csv")
profiles_df.head()

,PDF,Text,label,Summary,Experience,Education
0,Aakash Shah.pdf,\nContact\naakashs1411@gmail.com\nwww.link...,1,Aakash is a Data Scientist with 3 years of ex...,Medtronic. AI/ML Data Science Engineer II. Oc...,"Northeastern University. Master of Science, D..."
1,Akhil Nair.pdf,\nContact\nwww.linkedin.com/in/asn95\n(Lin...,1,I currently work as an Advanced Process Contr...,Corning Incorporated. Advanced Process Contro...,Carnegie Mellon University. Masters in Chemic...
2,Alec Arehart.pdf,\nContact\nwww.linkedin.com/in/alec-arehar...,1,Experienced software engineer with a history ...,Corning Incorporated. Senior SecDevOps Engine...,Virginia Tech. Master of Information Technolo...
3,Alexander McInroy.pdf,\nContact\nalexemcinroy@gmail.com\nwww.lin...,1,Statistical engineer and consultant with expe...,Corning Incorporated. 4 years 11 months. Sr. ...,"Binghamton University. Master of Arts - MA, A..."
4,Amanda Wright.pdf,\nContact\nwww.linkedin.com/in/\namandawri...,1,"I am a skilled scientist versed in Python, st...",WW. Page 1 of 3 . Data Analyst. November...,K2 Data Science. Machine Learning · (2019 - ...

In [14]:
columns = profiles_df.columns.to_list()
columns.remove('label')

X = profiles_df[columns]
y = profiles_df['label']

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [19]:
X_train.to_csv("data/X_train.csv")
y_train.to_csv("data/y_train.csv")
X_test.to_csv("data/X_test.csv")
y_test.to_csv("data/y_test.csv")